body {
    background-image: url('catamarca-argentina-turismo-20042021in2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}
h1 {
    color:blueviolet;
}