body {
    background-image: url("../imagenes/New_Project.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    color:rgba(248, 0, 0, 0.637);
}
p{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
h2 {
    background-color: rgba(196, 121, 23, 0.801);
    text-align: center;
    color: rgb(0, 47, 255);
}
h3 {
    background-color: rgb(185, 53, 163);
    text-align: center;
}
ds {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
ul {
    background-color: rgba(235, 6, 216, 0.76);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
h4 {
    background-color: rgba(142, 37, 202, 0.692);
    text-align: center;
}
tr {
    background-color: rgb(6, 238, 238)
}
.centrado {
    text-align: center;
}
h5 {
    background-color: rgba(102, 7, 255, 0.644);
    text-align: center;
}
h6 {
    background-color: rgba(255, 248, 220, 0.596);
    text-align: center;
}


    